.navbar-brand{
    font-size : 2rem;
}
.nav-link{

    margin-right: 3rem;
}

.btn-gradient{
    background-image: linear-gradient(to right, #F869D5, #5650DE);
    border-radius: 35px;    
}

.styling{
    border-color: lightslategrey;
    border-style: dotted;
    width: 300px;
    height: 250px;
    border-radius: 5%;
}
.content-center{
    flex: d-flex;
    justify-content: center;
}

#create-section .container{
    margin-top: 100px;
}


.fas{
    size: 1rem;
    color:grey;
}

.my-button{
    width: 415px;
}

.jumbotron{
    height: 400px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
    color: #5650DE;
    filter: ;
   }

#myProgress {
    width: 100%;
    background-color: rgb(233, 233, 233);
  }
  
#myBar {
width: 1%;
height: 30px;
background-color: rgb(44, 52, 155);
}

.less-top-margin{
    margin-top: 30px !important;
}
